/* Template: Tivo SaaS App Website Bootstrap HTML Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Customers
- Description
- Features
- Details
- Details Lightbox
- Video
- Pricing
- Testimonials
- Newsletter
- Statistics
- Social
- Footer
- Copyright
- Back To Top Button 
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds, navbar, buttons - blue #5f4dee
- Backgrounds - light gray #f5f6fb
- Headings text - black #2f363b
- Body text - dark gray #6b747b
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
	width: 100%;
	height: 100%;
}

body,
p {
	color: #6b747b;
	font: 1.25rem "Open Sans", sans-serif;
}

h1 {
	color: #2f363b;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	letter-spacing: -0.2px;
}

h2 {
	color: #2f363b;
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 2.625rem;
	letter-spacing: -0.2px;
}

h3 {
	color: #2f363b;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	letter-spacing: -0.2px;
}

h4 {
	color: #2f363b;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: -0.2px;
}

h5 {
	color: #2f363b;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

h6 {
	color: #2f363b;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
}

.p-large {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.p-extra-large-centered {
	font-size: 1.95rem;
	line-height: 1.75rem;
	text-align: center;
}

.p-extra-large-centered-save-value {
	font-size: 1.95rem;
	color: #eb8a2f;
	font-weight: bold;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #eb8a2f;
	text-decoration: underline;
}

a:hover {
	color: #eb8a2f;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.blue {
	color: #5f4dee;
}

.white {
	color: #ffffff;
}

a.white:hover {
	color: #ffffff;
}

.section-title {
	color: #5f4dee;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.bg-gray {
	background-color: #f5f6fb;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #5f4dee;
	border-radius: 32px;
	background-color: #5f4dee;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 1px solid #5f4dee;
	background-color: transparent;
	color: #5f4dee;
	/* needs to stay here because of the forced color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border-radius: 32px;
	background: linear-gradient(to right, #bf3333 33.33%, #d33737 66.33%, #f62d22 100%);
	color: #ffffff;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background: linear-gradient(to left, #bf3333 33.33%, #d33737 66.33%, #f62d22 100%);
	color: #f3f7fd;
	/* needs to stay here because of the forced color property of a tag */
	text-decoration: none;
}

.btn-solid-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 2px solid #5f4dee;
	border-radius: 10px;
	background: linear-gradient(to right, #bf3333 33.33%, #d33737 66.33%, #f62d22 100%);
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-sm:hover {
	background: linear-gradient(to left, #bf3333 33.33%, #d33737 66.33%, #f62d22 100%);
	color: #f3f7fd;
	/* needs to stay here because of the forced color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 2px solid #5f4dee;
	border-radius: 32px;
	background-color: transparent;
	color: #2f363b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 2px solid #f3f7fd;
	background-color: #5f4dee;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 1px solid #2f363b;
	border-radius: 32px;
	background-color: transparent;
	color: #2f363b;
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 1px solid #2f363b;
	background-color: #2f363b;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 2px solid #5f4dee;
	border-radius: 10px;
	background-color: transparent;
	color: #2f363b;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 2px solid #f3f7fd;
	background-color: #5f4dee;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.375rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus+.label-control,
.form-control-input.notEmpty+.label-control,
.form-control-textarea:focus+.label-control,
.form-control-textarea.notEmpty+.label-control {
	top: 0.125rem;
	color: #6b747b;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block;
	/* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.25rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #6b747b;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none;
	/* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
	/* you should keep these first rules in place to maintain cross-browser behavior */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('../images/down-arrow.png');
	background-position: 96% 50%;
	background-repeat: no-repeat;
	outline: none;
}

.form-control-textarea {
	display: block;
	/* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem;
	/* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.25rem;
	border: 1px solid #cbcbd1;
	background-color: #ffffff;
	color: #6b747b;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none;
	/* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #5f4dee;
	border-radius: 32px;
	background-color: #5f4dee;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #5f4dee;
	background-color: transparent;
	color: #5f4dee;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0);
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0);
	transform: translateY(0) perspective(37.5rem) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg);
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}

/* end of fade-move animation for details lightbox - magnific popup */

.top-announcement {
	background-image: url('../images/free-training-header.png');
	text-align: center;
	display: inline-flex;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.start-today {
	margin-bottom: 2.4rem;
}

.h2-heading {
	text-align: center;
}

.list-unstyled .fas {
	color: #2b44ff;
	font-size: 1.25rem;
	line-height: 1.625rem;
}

.list-unstyled .fas.fa-times {
	color: #d33737;
}

.list-unstyled .fas.fa-times.for-paragraph {
	color: #d33737;
	margin-top: 0.3rem
}

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #5f4dee;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
	min-width: 380px;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
	width: 76px;
	height: 30px;
}

.navbar .logo-text {
	color: #ffffff;
	font-weight: 700;
	font-size: 1.1rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem;
	/* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #5f4dee;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #dadfe2;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #ffffff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s;
	/* required for the fade animation */
}

@keyframes fadeDropdown {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #5f4dee;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #dadfe2;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #5f4dee;
	color: #ffffff;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #709bb3;
}

/* end of dropdown menu */

.navbar .nav-item .btn-outline-sm {
	border: 1px solid #ffffff;
	color: #ffffff;
}

.navbar .nav-item .btn-outline-sm:hover {
	background-color: #ffffff;
	color: #5f4dee;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}

.red-value {
	color: #BA1631;
	font-weight: bold;
	text-align: right;
}

.green-value {
	color: green;
	font-weight: bold;
	font-size: 5.25rem;
	text-align: center;
}


/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	overflow: hidden;
	padding-top: 6.5rem;
	padding-bottom: 7rem;
	background-color: #5f4dee;
	text-align: center;
}

.header .btn-solid-lg-container {
	margin-top: 2rem;
	text-align: center;
}

.header h1 {
	margin-bottom: 1rem;
	color: #ffffff;
}

.header h2 {
	color: #e4e7fc;
}

.header h4 {
	color: #e4e7fc;
}

.header h4.dark {
	color: #2f363b;
}

.header .p-large {
	margin-bottom: 2.125rem;
	color: #ffffff;
}

.header .p-large-no-margin {
	color: #ffffff;
}

.header .clear-left-aligned {
	text-align: left;
	color: #e4e7fc;
}

.header .btn-solid-lg {
	margin-bottom: 1rem;
}

.header .btn-solid-lg,
.header .btn-outline-lg {
	margin-right: 0.25rem;
	margin-left: 0.25rem;
}

.header .btn-outline-lg {
	margin-bottom: 1rem;
	border: 1px solid #ffffff;
	color: #ffffff;
}

.header .btn-outline-lg:hover {
	background-color: #ffffff;
	color: #5f4dee;
}

.header .header-decoration {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

.header .video-wrapper {
	position: relative;
}

/* Video Play Button */
.header .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 100%;
	height: 100%;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.header .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #5f4dee;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.header .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #5f4dee;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.header .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left: -12px;
	width: 0;
	height: 0;
	border-left: 26px solid #fff;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
}

.iframeBlocker {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	z-index: 5;
}

.header .full-price.best-value {
	color: #e4e7fc;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 3.5rem;
	text-decoration: line-through;
}

.header .best-value {
	font-weight: 700;
	font-size: 3.5rem;
	color: #e4e7fc;
}

.header .save-value.best-value {
	font-weight: 700;
	font-size: 2.5rem;
	color: #eb8a2f
}

.header .source-code-sent {
	font-weight: 700;
	font-size: 2.5rem;
	color: #eb8a2f
}

.header .simple-list {
	margin-bottom: 1.75rem;
	text-align: left;
	color: #e4e7fc;
}

.header .simple-list li {
	margin-bottom: 1.0rem;
}

.header.small-padding-top {
	padding-top: 1.5rem;
}

.gold-subheader {
	text-align: center;
	color: #eb8a2f;
}

.basic-3 .full-price.best-value {
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 3.5rem;
	text-decoration: line-through;
}

.basic-3 .best-value {
	font-weight: 700;
	font-size: 3.5rem;
}

.basic-3 .save-value.best-value {
	font-weight: 700;
	font-size: 3.5rem;
	color: #eb8a2f
}


/********************/
/*    Customers     */
/********************/
.slider-1 {
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}

.slider-1 .slider-container {
	padding: 1rem;
}


/**********************/
/*    Description     */
/**********************/
.cards-1 {
	padding-top: 3.5rem;
	text-align: center;
}

.cards-1 .h2-heading {
	margin-bottom: 1.75rem;
}

.cards-1 .card {
	margin-bottom: 2.5rem;
	border: none;
	background-color: transparent;
}

.cards-1 .card-image img {
	margin-right: auto;
	margin-left: auto;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 p {
	margin-bottom: 0;
}

/********************/
/*     Features     */
/********************/
.tabs {
	padding-top: 8rem;
	padding-bottom: 8.5rem;
}

.tabs .section-title {
	text-align: center;
}

.tabs .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.tabs .p-heading {
	margin-bottom: 3.125rem;
	text-align: center;
}

.tabs .nav-tabs {
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	justify-content: center;
	border-bottom: none;
}

.tabs .nav-link {
	margin-bottom: 1rem;
	padding: 0.5rem 1rem 0.375rem 1rem;
	border: none;
	border-bottom: 2px solid #c9d9ec;
	border-radius: 0;
	color: #76838c;
	font-weight: 600;
	font-size: 1.25rem;
	line-height: 1.625rem;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
	border-bottom: 2px solid #5f4dee;
	background-color: transparent;
	color: #5f4dee;
}

.tabs .nav-link .fas {
	margin-right: 0.625rem;
}

.tabs .tab-content {
	width: 100%;
	/* for proper display in IE11 */
}

.tabs .image-container {
	margin-bottom: 3rem;
}

.tabs h3 {
	margin-bottom: 1.125rem;
}

.tabs .list-unstyled {
	margin-bottom: 1.75rem;
}

.tabs .list-unstyled .fas {
	color: #5f4dee;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.tabs .list-unstyled .media-body {
	margin-left: 0.5rem;
}


/*******************/
/*     Details     */
/*******************/
.basic-1 {
	padding-top: 1.75rem;
	padding-bottom: 1.5rem;
}

.basic-1 .text-container {
	margin-bottom: 0;
}

.basic-1 h2 {
	margin-bottom: 1.5rem;
}

.basic-1 .list-unstyled {
	margin-bottom: 1.625rem;
}

.basic-1 .list-unstyled .fas.fa-check {
	color: #5f4dee;
	font-size: 1.5rem;
	line-height: 1.625rem;
}

.basic-1 .list-unstyled .fas.fa-xmark {
	color: #5f4dee;
	font-size: 1.5rem;
	line-height: 1.625rem;
}

.basic-1 .list-unstyled .fas.fa-video {
	color: #5f4dee;
	font-size: 1.3rem;
	line-height: 1.625rem;
}

.basic-1 .list-unstyled .fas.fa-cloud-download-alt {
	color: #5f4dee;
	font-size: 1.3rem;
	line-height: 1.625rem;
}

.basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.basic-1 .image-container {
	margin-bottom: 2.5rem;
	text-align: center;
}

.centered-button {
	text-align: center;
}

.basic-1 .list-unstyled .fas.fa-check.for-paragraph {
	color: #5f4dee;
	font-size: 1.5rem;
	line-height: 1.625rem;
	margin-top: 0.3rem
}

/****************************/
/*     Details Lightbox     */
/****************************/
.lightbox-basic {
	position: relative;
	max-width: 1150px;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	background-color: #ffffff;
	text-align: left;
}

.lightbox-basic .image-container {
	margin-bottom: 3rem;
	text-align: center;
}

.lightbox-basic .image-container img {
	border-radius: 8px;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 44px;
	height: 1px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	background-color: #5f4dee;
}

.lightbox-basic h4 {
	margin-top: 1.75rem;
	margin-bottom: 0.625rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.5rem;
}

.lightbox-basic .list-unstyled .fas {
	color: #5f4dee;
	font-size: 0.875rem;
	line-height: 1.75rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.625rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	color: #ffffff;
	opacity: 1;
	font-family: "Open Sans";
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	color: #5f4dee;
}

/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #2f363b;
	background-color: transparent;
	color: #2f363b;
	opacity: 1;
	font-family: "Open Sans";
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	background-color: #2f363b;
	color: #ffffff;
}

/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -2px;
	right: -2px;
	width: 44px;
	height: 44px;
	color: #555555;
}

/* end of close x button */


/*****************/
/*     Video     */
/*****************/
.basic-2 {
	padding-top: 1.5rem;
	/* padding-bottom: 3.5rem; */
	/* text-align: center; */
}

.basic-2 .image-container {
	margin-bottom: 2.5rem;
}

.basic-2 .image-container img {
	border-radius: 0.75rem;
}

.basic-2 .video-wrapper {
	position: relative;
}

/* Video Play Button */
.basic-2 .video-play-button {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	display: block;
	box-sizing: content-box;
	width: 32px;
	height: 44px;
	padding: 1.125rem 1.25rem 1.125rem 1.75rem;
	border-radius: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.basic-2 .video-play-button:before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	display: block;
	width: 76px;
	height: 76px;
	border-radius: 50%;
	background: #5f4dee;
	animation: pulse-border 1500ms ease-out infinite;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.basic-2 .video-play-button:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	display: block;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #5f4dee;
	transition: all 200ms;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.basic-2 .video-play-button span {
	position: relative;
	display: block;
	z-index: 3;
	top: 6px;
	left: 4px;
	width: 0;
	height: 0;
	border-left: 26px solid #fff;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
}

@keyframes pulse-border {
	0% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
		opacity: 1;
	}

	100% {
		transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
		opacity: 0;
	}
}

/* end of video play button */


/*******************/
/*     Pricing     */
/*******************/
.cards-2 {
	padding-top: 1.75rem;
	padding-left: 3rem;
}

.cards-2 .section-title {
	text-align: center;
}

.cards-2 .h2-heading {
	margin-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .small-bottom-margin {
	margin-bottom: 1.75rem;
	text-align: center;
}

.cards-2 .col-xs-6 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.cards-2 .card {
	max-width: 330px;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
	border: 2px solid #e4e7fc;
	border-radius: 8px;
	text-align: center;
	/* background-color:#709bb3 */
}

.cards-2 .card.best-value {
	background-color: #5f4dee;
	color: #e4e7fc;
}

.cards-2 .card .list-unstyled .fas.best-value {
	color: #e4e7fc;
}

.cards-2 .card .card-body {
	padding: 1rem 1.625rem 2rem 1rem;
}

.cards-2 .card .card-title {
	margin-bottom: 0.75rem;
	color: #2b44ff;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.25rem;
}

.cards-2 .card .card-title.best-value {
	color: #e4e7fc;
}

.cards-2 .card .value {
	color: #2f363b;
	font-weight: 700;
	font-size: 5.25rem;
	line-height: 3.5rem;
}

.cards-2 .card .value.best-value {
	color: #e4e7fc;
	font-weight: 700;
	font-size: 5.25rem;
	line-height: 3.5rem;
}

.cards-2 .card .full-price {
	font-weight: 700;
	font-size: 2rem;
	line-height: 3.5rem;
	text-decoration: line-through;
	margin-right: 0.25rem;
	/* text-decoration-color: #eb8a2f; */
}

.cards-2 .card .full-price.best-value {
	color: #e4e7fc;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 3.5rem;
	text-decoration: line-through;
}

.cards-2 .card .currency {
	margin-right: 0.25rem;
	color: #2f363b;
	font-size: 3.375rem;
	vertical-align: 20%;
}

.cards-2 .card .currency.best-value {
	color: #e4e7fc;
}

.cards-2 .card .frequency {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.cards-2 .card .frequency.best-value {
	color: #eb8a2f;
	font-weight: 700;
}

.cards-2 .card .save-value {
	color: #eb8a2f;
	font-weight: 700;
	font-size: 1.75rem;
	/* line-height: 3.5rem; */
	margin-bottom: 1rem;
}

.cards-2 .card .save-value.best-value {
	color: #eb8a2f
}

.cards-2 .card .per-month {
	font-size: 1.2rem;
}

.cards-2 .card .cell-divide-hr {
	height: 2px;
	margin-top: 1.375rem;
	margin-bottom: 2.25rem;
	border: none;
	background-color: #e4e7fc;
}

.cards-2 .card .list-unstyled {
	margin-bottom: 1.75rem;
	text-align: left;
}

.cards-2 .card .list-unstyled li {
	margin-bottom: 0.5rem;
}

.cards-2 .card .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.cards-2 .card .list-unstyled .media-body.not-available {
	margin-left: 0.5rem;
	text-decoration: line-through;
}

.cards-2 .h2-heading.save-value.best-value {
	font-weight: 700;
	font-size: 3.5rem;
	color: #eb8a2f
}

.cards-2 .h1-heading {
	margin-bottom: 0rem;
}

.cards-2 .btn-outline-lg {
	font-size: 1.1rem;
}

.cards-2 .btn-solid-lg {
	font-size: 1.3rem;
}

/*******************/
/*     Toggle Button     */
/*******************/
.toggle-btn {
	text-align: center;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #50bfe6;
	-webkit-transition: 0.4s;

	box-shadow: 2px 6px 25px #1e2321;
	transform: translate(0px, 0px);
	transition: 0.6s ease transform, 0.6s box-shadow;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked+.slider {
	background-color: #50bfe6;
}

input:focus+.slider {
	box-shadow: 0 0 1px #50bfe6;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}



/************************/
/*     Testimonials     */
/************************/
.testimonial-text {
	margin-bottom: 0.5rem;
}

.slider-2 {
	padding-top: 1.25rem;
	/* padding-bottom: 2.25rem; */
}

.slider-2 .slider-container {
	position: relative;
}

.slider-2 .swiper-container {
	position: static;
	width: 82%;
	text-align: center;
}

.slider-2 .image-wrapper {
	width: 135px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
}

.slider-2 .image-wrapper img {
	border-radius: 50%;
}

.slider-2 .testimonial-author {
	color: #2f363b;
}

.slider-2 .swiper-button-prev,
.slider-2 .swiper-button-next {
	width: 18px;
}

.slider-2 .swiper-button-prev:focus,
.slider-2 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-2 .swiper-button-prev {
	left: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-2 .swiper-button-next {
	right: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23505c67'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}


/**********************/
/*     Newsletter     */
/**********************/
.form-1 .form-container {
	padding: 4rem 1rem;
	border-radius: 10px;
}

.form-1 .section-title,
.form-1 .h2-heading {
	text-align: center;
}

.form-1 .h2-heading {
	margin-bottom: 3.25rem;
}

/**********************/
/*     Statistics     */
/**********************/
.counter {
	padding-top: 2rem;
	/* padding-bottom: 1rem; */
	text-align: center;
}

.counter #counter {
	margin-bottom: 0.75rem;
}

.counter #counter .cell {
	display: inline-block;
	width: 124px;
	margin-right: 1.5rem;
	margin-bottom: 3.5rem;
	margin-left: 1.5rem;
	vertical-align: top;
}

.counter #counter .fas {
	margin-bottom: 0.875rem;
	font-size: 4.25rem;
	color: #2b44ff;
}

.counter #counter .fas.yellow {
	color: #ff9a1f;
}

.counter #counter .fas.turquoise {
	color: #85c5c6;
}

.counter #counter .fas.red {
	color: #ff412f;
}

.counter #counter .fas.dark-blue {
	color: #2e3676;
}

.counter #counter .counter-value {
	color: #181c3b;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.75rem;
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	vertical-align: middle;
}

/**********************/
/*     What You Get     */
/**********************/
.what-you-get {
	padding-top: 2rem;
	/* padding-bottom: 1rem; */
	text-align: center;
}

.what-you-get {
	margin-bottom: 3.75rem;
}

.what-you-get .fas {
	margin-bottom: 0.875rem;
	font-size: 4.25rem;
	color: #2b44ff;
}

.what-you-get .fas.yellow {
	color: #ff9a1f;
}

.what-you-get .fas.turquoise {
	color: #85c5c6;
}

.what-you-get .fas.red {
	color: #ff412f;
}

.what-you-get .fas.dark-blue {
	color: #2e3676;
}

.what-you-get-table .col-sm-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}

.what-you-get-table .col-sm-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}

.what-you-get-table .col-sm-7 {
	-ms-flex: 0 0 58.333333%;
	flex: 0 0 58.333333%;
	max-width: 58.333333%;
}

.what-you-get-table-item {
	min-width: 360px;
}

.payment-options .col-sm-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}

.payment-options .col-sm-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}

/******************/
/*     Social     */
/******************/
.basic-3 {
	padding-top: 2rem;
	padding-bottom: 2.25rem;
	text-align: center;
}

.basic-3 .fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.basic-3 .fa-stack .fa-stack-1x {
	color: #fff;
	transition: all 0.2s ease;
}

.basic-3 .fa-stack .fa-stack-2x {
	color: #5f4dee;
	transition: all 0.2s ease;
}

.basic-3 .fa-stack:hover .fa-stack-1x {
	color: #5f4dee;
}

.basic-3 .fa-stack:hover .fa-stack-2x {
	color: #f3f7fd;
}

.more-reviews {
	padding-bottom: 2.25rem;
	text-align: center;
}


/******************/
/*     Footer     */
/******************/
.footer-decoration {
	position: relative;
	width: 100%;
	height: 20px;
}

.footer-decoration .footer-frame {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 20px;
}

.footer {
	padding-top: 4rem;
	padding-bottom: 1rem;
	background-color: #5f4dee;
}

.footer a {
	text-decoration: none;
}

.footer .text-container {
	margin-bottom: 2.5rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #e2e1e8;
}

.footer p,
.footer a,
.footer ul {
	color: #e2e1e8;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .fas {
	margin-right: 0.5rem;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 4rem;
	padding-bottom: 1rem;
	background-color: #5f4dee;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #e2e1e8;
	text-decoration: none;
}

.header-only .copyright {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #7461ff url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #4d3dc4;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background-color: #5f4dee;
	text-align: center;
}

.ex-header h1 {
	color: #ffffff;
}

.ex-header .p-large {
	margin-bottom: 2.125rem;
	color: #ffffff;
}

.ex-header .image-container {
	text-align: center;
}

.ex-basic-1 {
	padding-bottom: 1.5rem;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f5f6fb;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #5f4dee;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 600;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}

.ex-form-1 .text-box {
	padding: 2.5rem 1.5rem 1.5rem 1.75rem;
	border-radius: 10px;
	background-color: #f5f6fb;
}

/*************************/
/*     Course Curriculum */
/*************************/
.accordion .card {
	border: none;
	min-width: 600px;
}

.accordion .card-body {
	padding: 0;
}

.chapter-number {
	padding-right: 2rem;
}

.basic-1 .chapter-title {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	padding-left: 1.5rem;
	padding-right: 2.3rem;
	background-color: #5f4dee;
	color: #ffffff;
}

.chapter-title::after {
	content: "\f107";
	font-weight: 900;
	top: 0.5rem;
	right: 1rem;
	position: absolute;
	font-family: "Font Awesome 5 Free"
}

.chapter-title[aria-expanded="true"]::after {
	content: "\f106";
}

.chapter-title .chapter-duration {
	float: right;
	font-weight: normal;
	display: none;
}

.basic-1 .lesson-title {
	display: flex;
	align-items: flex-start;
	background: #f9f9f9;
	margin: 0;
	padding: 0.5rem;
	list-style-type: none;
	border-bottom: 2px solid #fff;
	align-items: center;
}

/*************************/
/* Header Only */
/*************************/
.header-only {
	background-color: #5f4dee;
}

/*************************/
/* Font Awesome */
/*************************/
.fab.fa-react {
	font-size: 4.1em;
}

.line-spaced-paragraph {
	line-height: 2rem
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .header-decoration {
		height: 100px;
	}

	/* end of header */


	/* Footer */
	.footer-decoration {
		height: 40px;
	}

	.footer-decoration .footer-frame {
		height: 40px;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

	/* end of extra pages */

	.btn-solid-lg {
		line-height: 0;
	}

	.btn-outline-lg {
		line-height: 0;
	}

	.navbar .logo-text {
		font-size: 1.5rem;
	}
}

/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {

	/* General Styles */
	.h1-large {
		font-size: 3.5rem;
		line-height: 4.375rem;
	}

	.h3-heading {
		text-align: left;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* end of general styles */

	.header .btn-solid-lg-container {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #5f4dee;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 5px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .nav-item .btn-outline-sm {
		margin-left: 0.875rem;
	}

	/* end of navigation */


	/* Header */
	.header {
		padding-bottom: 10rem;
	}

	.header .text-container {
		margin-bottom: 0;
	}

	.header .btn-outline-lg {
		margin-bottom: 0;
		text-align: center;
	}

	.header .btn-outline-lg {
		margin-right: 0.5rem;
		margin-left: 0;
	}

	.header .image-container {
		/* transform: rotate(2deg); */
		filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.2));
	}

	.header .header-decoration {
		height: 160px;
	}

	/* end of header */


	/* Description */
	.cards-1 .card {
		display: inline-block;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	/* end of description */


	/* Features */
	.tabs .image-container {
		margin-bottom: 0;
	}

	/* end of features */


	/* Details */
	.basic-1 .text-container {
		margin-bottom: 0;
	}

	/* end of details */


	/* Details Lightbox */
	.lightbox-basic {
		padding: 3rem 3rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
		text-align: left;
	}

	/* end of details lightbox */


	/* Pricing */
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 0.125rem;
		margin-left: 0.125rem;
	}

	/* end of pricing */


	/* Testimonials */
	.slider-2 .swiper-container {
		width: 87%;
		text-align: left;
	}

	/* .slider-2 .image-wrapper {
		float: left;
		width: 135px;
		margin-bottom: 0;
	} */

	.slider-2 .text-wrapper {
		max-width: 100%;
		margin-top: 1.375rem;
		margin-left: 10rem;
	}

	.slider-2 .swiper-button-prev {
		left: 0;
		width: 22px;
		background-size: 22px 34px;
	}

	.slider-2 .swiper-button-next {
		right: 0;
		width: 22px;
		background-size: 22px 34px;
	}

	/* end of testimonials */


	/* Newsletter */
	.form-1 form {
		width: 550px;
		margin-right: auto;
		margin-left: auto;
	}

	/* end of newsletter */


	/* Footer */
	.footer-decoration {
		height: 80px;
	}

	.footer-decoration .footer-frame {
		height: 60px;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	/* end of extra pages */

	.chapter-title .chapter-duration {
		display: block;
	}
}

/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Navigation */
	.navbar .container {
		max-width: 100%;
		padding-right: 1.5rem;
		padding-left: 1.5rem;
	}

	/* end of navigation */


	/* Header */
	.header .text-container {
		margin-right: 1.5rem;
	}

	/* end of header */


	/* Customers */
	.slider-1 .slider-container {
		margin-right: 2rem;
		margin-left: 2rem;
	}

	/* end of customers */


	/* Description */
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 4.375rem;
		margin-left: 4.375rem;
	}

	/* end of description */

	.cards-2 .btn-outline-lg {
		font-size: 1.3rem;
	}

	/* Features */
	.tabs .nav-tabs {
		margin-bottom: 1.75rem;
	}

	.tabs .image-container {
		margin-right: 1rem;
	}

	.tabs .text-container {
		margin-top: 1.25rem;
		margin-left: 2rem;
	}

	/* end of features */


	/* Details */
	.basic-1 .text-container {
		margin-top: 1rem;
		margin-right: 3rem;
	}

	/* end of details */


	/* Details Lightbox */
	.lightbox-basic .image-container {
		margin-right: 1.5rem;
	}

	/* end of details lightbox */


	/* Pricing */
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 3rem;
		margin-left: 3rem;
	}

	/* end of pricing */


	/* Newsletter */
	.form-1 .form-container {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	/* end of newsletter */


	/* Footer */
	.footer .text-container.second,
	.footer .text-container.third {
		margin-left: 2rem;
	}

	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	/* end of extra pages */
}

/* end of min-width 1200px */