---
layout: default
title: Julio Casal | The .NET Saturday Weekly Newsletter
---

<!-- Header -->
<header id="header" class="header" style="padding-top: 9rem">
    <div class="container">
        <div class="row justify-content-center">
            <div id="newsletter-iphone-mockup" class="col-lg-3 order-lg-2">
                <div class="image-container">
                    <img class="img-fluid" src="/images/newsletter-iphone-mockup.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7 order-lg-1">
                <div class="container" style="text-align: left;">
                    <div class="row mt-4">
                        <div class="col">
                            <div class="text-container">
                                <h1 class="h2-heading" style="text-align: left;">Learn, Grow & Upgrade Your .NET
                                    Skills</h1>
                                <p class="line-spaced-paragraph white">
                                    Join 25,000+ subscribers to The .NET Saturday. Every Saturday
                                    morning, you'll get 1 actionable tip to upgrade your .NET skills in less than 5
                                    minutes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-4">
                        <div class="col">
                            <script async data-uid="2747effed2"
                                src="https://juliocasal.ck.page/2747effed2/index.js"></script>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of div -->
                </div> <!-- end of div -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->

    <svg class="header-decoration" data-name="Layer 3" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        viewBox="0 0 1920 305.139">
        <defs>
            <style>
                .cls-1 {
                    fill: #ffffff;
                }
            </style>
        </defs>
        <title>header-decoration</title>
        <path class="cls-1"
            d="M1486.486,36.773C1434.531,13.658,1401.068-5.1,1329.052,1.251c-92.939,8.2-152.759,70.189-180.71,89.478-23.154,15.979-134.286,104.091-171.753,128.16-50.559,32.48-98.365,59.228-166.492,67.5-67.648,8.21-124.574-6.25-152.992-18-42.218-17.454-42.218-17.454-90-39-35.411-15.967-81.61-34.073-141.58-34.054-116.6.037-262.78,77.981-354.895,80.062C53.1,275.793,22.75,273.566,0,260.566v44.573H1920V61.316c-36.724,23.238-76.008,61.68-177,65C1655.415,129.2,1556.216,67.8,1486.486,36.773Z"
            transform="translate(0 0)" />
    </svg>
</header> <!-- end of header -->
<!-- end of header -->

<!-- Problem Statement -->
<div id="problem-statement" class="basic-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2 class="h2-heading">Previous Issues of The .NET Saturday</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row justify-content-center">
            <div class="col-lg-9">
                {% if site.paginate %}
                {% assign posts = paginator.posts %}
                {% else %}
                {% assign posts = site.posts %}
                {% endif %}

                {%- if posts.size > 0 -%}
                {%- if page.list_title -%}
                <h2 class="post-list-heading">{{ page.list_title }}</h2>
                {%- endif -%}
                <!-- <ul class="post-list"> -->
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {%- for post in posts -%}
                <!-- <li>
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                        <h3>
                            <a class="post-link" href="{{ post.url | relative_url }}">
                                {{ post.title | escape }}
                            </a>
                        </h3>
                        {%- if site.show_excerpts -%}
                            {{ post.excerpt }}
                        {%- endif -%}
                    </li> -->

                <div class="card mb-3" style="border: 0;">
                    <div class="row no-gutters">
                        <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">
                            <a class="post-link" style="text-decoration: none"
                                href="{{ post.url | relative_url | remove: '.html' }}">
                                <span
                                    style="font-size: 1em; color: #ffffff; font-weight: bold; background-color: #5f4dee; padding: 10px; border-radius: 15px; box-shadow: 0px 0px 10px rgba(0,0,0,0.2);">
                                    {{ post.issue-number | prepend: "#" }}
                                </span>
                            </a>
                        </div>
                        <div class="col">
                            <div class="card-body">
                                <h3 class="mb-1"
                                    style="font-size: 1.5em; color: #5f4dee; text-transform: uppercase; letter-spacing: 1px;">
                                    <a class="post-link" href="{{ post.url | relative_url | remove: '.html' }}"
                                        style="text-decoration: none; color: inherit;">
                                        {{ post.title | escape }}
                                    </a>
                                </h3>
                                <span class="post-meta">{{ post.date | date: date_format }}</span>
                                {%- if site.show_excerpts -%}
                                {{ post.excerpt }}
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                </div>

                {%- endfor -%}
                <!-- </ul> -->

                {% if site.paginate %}
                <div class="pager">
                    <ul class="pagination">
                        {%- if paginator.previous_page %}
                        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                                paginator.previous_page }}</a></li>
                        {%- else %}
                        <li>
                            <div class="pager-edge">•</div>
                        </li>
                        {%- endif %}
                        <li>
                            <div class="current-page">{{ paginator.page }}</div>
                        </li>
                        {%- if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{
                                paginator.next_page }}</a></li>
                        {%- else %}
                        <li>
                            <div class="pager-edge">•</div>
                        </li>
                        {%- endif %}
                    </ul>
                </div>
                {%- endif %}

                {%- endif -%}
            </div> <!-- end of col-->
            <div class="col-md-3">
                <div class="sticky-top" style="top: 6rem;">
                    <div class="card course best-value h-100" style="transition: box-shadow 0.2s ease-in-out;">
                        <div class="card-image mt-2">
                            <img class="img-fluid mx-auto d-block" style="height: 100%; object-fit: contain;"
                                src="/images/roadmap-ad.png" width="90%" alt="alternative">
                        </div>
                        <div class="card-body">
                            <h5 class="course-title best-value text-center"
                                style="white-space: normal; font-size: 1rem;">
                                <strong>FREE .NET Developer Roadmap</strong>
                            </h5>
                            <p style="font-size: 0.9rem; color: white;">Fully interactive with 110+ topics on today's must-know technologies.</p>
                            <script async data-uid="50f23d4f29"
                                src="https://juliocasal.kit.com/50f23d4f29/index.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->